@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.resume > *{
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333333;
    margin: 0;
    padding: 20px;
}

.resume-container {
    display: flex;  
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .resume-container {
        flex-direction: column;
        max-width: 80%;
    }
}

.resume .black-side {
    background-color: #333333;
    color: #ffffff;
    flex-basis: 40%;
    padding: 20px;
}

.resume .white-side {
    background-color: #ffffff;
    flex-basis: 60%;
    padding: 10px;
}

.resume .image-container
{
    text-align: center;
}

.resume .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}

.resume h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 10px;
    font-family: 'Comfortaa';
}

.resume .text-black {
    color: #333333;
}

.resume p {
    margin-bottom: 5px;
    font-family: 'Comfortaa', cursive;
}

.resume .section-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.resume .section-content {
    margin-left: 20px;
}