.resume1 > *{
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #A1CCD1;
    margin: 0;
    padding: 20px;
}

.resume1-container {
    display: flex;  
    justify-content: space-between;
    margin: 0 auto;
    width: 1024px;
}

.resume1 .header {
    height: 40px;
    border-bottom: 1px solid #333333;
}

.resume1 .left-col {
    width: 250px;
    float: left;
}