#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.inputDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 5px;
}

.inputDiv > * {
  width: 10rem;
  height: 2rem;
  text-align: center;
}

.buttons {
  margin: 10px;
  display:grid;
  gap: 10px 10px;
}
