@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  size: 0.35rem;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  display: grid;
  place-items: center ;
  min-width: 320px;
  min-height: 100vh;
}
input{
  padding: 5px 10px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0a192f;
  }
  button {
    background-color: #f9f9f9;
  }
}
