@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  size: 0.35rem;
}

a.active {
  background-color: #4b5563;
}

body {
  margin: 0;
  display: grid;
  place-items: center ;
  min-width: 320px;
  min-height: 100vh;
}
input, t:active, t:focus, t:hover{
  color: #1a1a1a;
  border: none !important;
  box-shadow: none !important;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline;
  vertical-align: middle;
}